<div id="background">
  <br><br><br><br>
  <div class="container">
    <div class="category-list">
      <h3>Categories</h3>
      <ul>
        <li *ngFor="let category of categories" (click)="scrollToCategory(category)">
          {{ category | titlecase }}
        </li>
      </ul>
    </div>
    <div class="product-container">
      <div *ngFor="let category of categories" class="category-section" [attr.id]="category">
        <h1>{{ category | titlecase }}</h1>
        <div *ngIf="(products$ | async) as products; else loading">
          <div *ngIf="products.length; else noProducts" class="product-row">
            <ng-container *ngFor="let product of products">
              <div *ngIf="product.category === category" class="product-card">
                <img [src]="product.image" alt="{{ product.title }}" class="product-img">
                <p>{{ product.title }}</p>
                <div class="product-info">
                  <h2>${{ product.price }}</h2>
                  <div class="icons">
                    <button mat-icon-button (click)="toggleFavorite(product.id)" (click)="$event.stopPropagation()">
                      <mat-icon [ngClass]="{'mat-icon-heart': true, 'pressed': isFavorite(product.id)}" aria-label="Favorite icon">favorite</mat-icon>
                    </button>
                    <button mat-icon-button (click)="toggleCart(product.id)" (click)="$event.stopPropagation()">
                      <mat-icon [ngClass]="{'mat-icon-cart': true, 'pressed': isInCart(product.id)}" aria-label="Cart icon">shopping_cart</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
          <ng-template #noProducts>
            <p>No products available for this category.</p>
          </ng-template>
        </div>
        <ng-template #loading>
          <p>Loading products...</p>
        </ng-template>
      </div>
    </div>
  </div>
</div>