$background-color: #f3ede5; // beige
$border-color: #ddd;
$text-color: #1e1e1e; // black
$text-color-sub: #45414a; // grey
$padding: 10px;
$nav-height: 60px;
$font-size-h2: 18px;
$font-weight-bold: bold;
$icon-gap: 15px;
$icon-margin-top: 5px;
$max-width-product-card: 300px;
$margin-left-h1: 3%;

.container {
  display: flex;
  margin-top: $nav-height;
}

.category-list {
  flex-shrink: 0;
  position: fixed;
  width: 20%;
  padding: $padding;
  border-right: 1px solid $border-color;
  height: 100%;
  overflow-y: auto;
}

.category-list ul {
  list-style: none;
  padding: 0;
}

.category-list li {
  cursor: pointer;
  padding: $padding;
  border-bottom: 1px solid $border-color;
}

.category-list li:hover,
.category-list .selected-category {
  background-color: $border-color;
}

.product-listing-container {
  width: 80%;
  padding: $padding;
  margin-left: 20%;
  overflow-y: auto;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  gap: $padding;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: $max-width-product-card;
}

.product-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-info h2 {
  font-size: $font-size-h2;
  font-weight: $font-weight-bold;
}

.icons {
  display: flex;
  justify-content: center;
  gap: $icon-gap;
  margin-top: $icon-margin-top;
}

h1 {
  text-align: start;
  margin-left: $margin-left-h1;
}
