$color: #ef98aa;
$bg-color: #00a693;

.users-container {
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

  h2 {
    margin-bottom: 1rem;
    font-size: 24px;
    color: #333;
  }

  table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
      padding: 0.75rem;
      text-align: left;
      border-bottom: 1px solid $color;
    }

    th {
      background-color: $bg-color;
      color: #333;
    }

    tr:hover {
      background-color: $color;
    }
  }
}
