<div class="main-content">
  <div class="welcome-message">
    <div *ngIf="userName">
      <h3 class="welcome-message">{{ userName | welcomeMessage }}</h3>
    </div>
    <!-- <h4>Discover the Best Deals and Latest Trends Just for You!</h4> -->
  </div>
  
  <div class="sort-container">
    <button (click)="toggleSort()">Sort <span class="arrow-down">▼</span></button>
    <div *ngIf="showSort" class="sort-options">
      <button (click)="sortProducts('asc')">Sort Ascending</button>
      <button (click)="sortProducts('desc')">Sort Descending</button>
      <button (click)="sortProducts('price-asc')">Price Low to High</button>
      <button (click)="sortProducts('price-desc')">Price High to Low</button>
    </div>
  </div>
  
  <!-- <app-product-card [products$]="products$ | async"></app-product-card>  -->
  <!-- <app-product-card [products]="products"></app-product-card> -->
 <app-filter-and-sort></app-filter-and-sort> 
  <ng-template #loading>
    <h1>Loading...</h1>
  </ng-template>
  