$background-color: #F3EDF7; //pink
$border-color: #7C6BA7;
$text-color: #1E1E1E; //black
$text-color-sub: #45414A; //grey
$font-size: 16px;
$border-radius: 8px;
$margin: 32px;
$padding: 4px;
$width: 200px;
$height: 350px;
$img-size: 190px;

p {
    font-size: $font-size;
    color: $text-color-sub;
    text-align: center;
  }

h2 {
    font-size: $font-size;
    color: $text-color;
}


// .product-card {
//   width: $width;
//   height: $height;
//   border: 1px solid $border-color;
//   border-radius: $border-radius;
//   background-color: $background-color;
//   margin: $margin;
//   padding: $padding;
  
// }

// .product-container {
//   background-color: $background-color;
// }

// .product-img {
//     border-radius: $border-radius;
//     width: $img-size;
//     height: $img-size;
//     display: block;
//     margin-left: auto;
//     margin-right: auto;
//   }
