$background-color: #F3EDF7; //pink
$border-color: #7C6BA7;
$text-color: #1E1E1E; //black
$text-color-sub: #45414A; //grey
$font-size: 16px;
$border-radius: 8px;
$margin: 32px;
$page-margin: 120px;
$padding: 4px;
$width: 200px;
$height: 350px;
$img-size: 190px;
$icon-color: rgba(128, 128, 128, 0.495);
$heart-color: red;

p {
    font-size: $font-size;
    color: $text-color-sub;
    text-align: center;
  }

h1 {
  margin-top: $page-margin;
  font-size: larger;
  color: $border-color;
  text-align: center;
}  

h2 {
    font-size: $font-size;
    color: $text-color;
}


.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.product-info {
  display: flex;
  align-items: center;
  justify-content:space-around;
  width: 100%;
}

.product-info p, .product-info h2 {
  margin: 0;
  padding: 0;
}

// .icons {
//   display: flex;
//   align-items: center;
// }

// .icons button {
//   margin: 0;
// }

// .mat-icon {
//   transition: color 0.3s ease;
// }

// .mat-icon-heart {
//   color: $icon-color;
// }

// .mat-icon-heart.pressed {
//   color: $heart-color;
// }

// .mat-icon-cart {
//   color: $icon-color;
// }

// .mat-icon-cart.pressed {
//   color: $border-color;
// }

// .mat-icon-button {
//   border: none;
//   background: none;
//   padding: 0;
//   cursor: pointer;
// }
