// .container {
//     display: flex;
//     height: 120vh;
//   }
  
//   .ag-grid-container {
//     width: 20%;
//     padding: 10px;
//     overflow-y: auto; /* Enable vertical scrolling */
//     height: 100%; /* Take full height of the container */
//   }

//   .product-listing-container {
//     width: 80%;
//     padding: 10px;
//     overflow-y: auto;
//     height: 100%;
//   }
  
//   h3 {
//     text-align: start;
//   }

.container {
  display: flex;
  height: 120vh;
}

.ag-grid-container {
  width: 20%;
  padding: 10px;
  overflow-y: auto;
  height: 100%;
}

.product-listing-container {
  width: 80%;
  padding: 10px;
  overflow-y: auto;
  height: 100%;
}

.product-grid {
  display: flex;
  flex-wrap: wrap; /* Enables wrapping to a new line */
}

// .product-card {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   text-align: center;
//   width: 100%; /* Ensure it takes up the available width */
//   max-width: 300px; /* Limit the width of the product card */
// }

.product-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 10px;
}

.product-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-info .product-title {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
}

.product-info h2 {
  font-size: 18px;
  font-weight: bold;
}

.icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 5px;
}
