<nav id="desktop-nav">
  <div class="logo">
      <img src="assets/logo.png" alt="Logo" class="logo">
  </div>
  <div>
      <ul class="nav-links">
          <li>
              <input placeholder="Search products..." [formControl]="searchInput">
          </li>
          <li><a routerLink="/product-listing">Home</a></li>
          <li><a routerLink="/categories">Categories</a></li>
          <li><a routerLink="/favorites">Favorites</a></li>
          <li><a routerLink="/filter-sort">Filter and Sort</a></li>
          <li><a routerLink="/cart">Cart</a></li>
          <li id="account"><a routerLink="/account">My Account</a></li>
      </ul>
  </div>
</nav>

 <div *ngIf="products.length" class="product-container">
  <div *ngFor="let product of products" class="product-card">
    <img [src]="product.image" alt="{{ product.title }}" class="product-img">
    <p>{{ product.title }}</p>
    <h2>${{ product.price }}</h2>
  <!--<button id="heart-button" class="heart" (click)="toggleHeart()"></button>-->
  </div>
</div> 
