<footer class="footer" *ngIf="footerVisible">
  <div class="footer-container">
    <div class="footer-column">
      <h3><i class="fas fa-share-alt"></i> Follow Us</h3>
      <ul>
        <li>
          <a href="https://www.facebook.com/yourprofile" target="_blank"
            ><i class="fab fa-facebook"></i> Facebook</a
          >
        </li>
        <li>
          <a href="https://www.x.com/yourprofile" target="_blank"
            ><i class="fab fa-x"></i> X</a
          >
        </li>
        <li>
          <a href="https://www.instagram.com/yourprofile" target="_blank"
            ><i class="fab fa-instagram"></i> Instagram</a
          >
        </li>
        <li>
          <a href="https://www.linkedin.com/yourprofile" target="_blank"
            ><i class="fab fa-linkedin"></i> LinkedIn</a
          >
        </li>
      </ul>
    </div>

    <div class="footer-column">
      <h3><i class="fas fa-info-circle"></i> About</h3>
      <ul>
        <li>
          <a href=""><i class="fas fa-building"></i> Company</a>
        </li>
        <li>
          <a href="/cart"><i class="fas fa-box"></i> Orders</a>
        </li>
        <li>
          <a href=""><i class="fas fa-certificate"></i> Quality</a>
        </li>
        <li>
          <a href=""><i class="fas fa-user-shield"></i> Privacy Policy</a>
        </li>
      </ul>
    </div>

    <div class="footer-column">
      <h3><i class="fas fa-question-circle"></i> Help</h3>
      <ul>
        <li>
          <a href="/profile"><i class="fas fa-user"></i> My Account</a>
        </li>
        <li>
          <a href=""><i class="fas fa-life-ring"></i> Customer Help</a>
        </li>
        <li>
          <a href=""><i class="fas fa-envelope"></i> Contact Us</a>
        </li>
        <li>
          <a href=""
            ><i class="fas fa-file-contract"></i> Terms And Conditions</a
          >
        </li>
      </ul>
    </div>
  </div>
</footer>
