$footer-background: #f9f9f9;
$footer-text-color: #333;
$footer-link-color: #00a693;
$footer-link-hover-color: #007f6e;
$padding: 0.5rem;
$footer-column-width: 30%;
$footer-heading-font-size: 16px;
$footer-link-font-size: 14px;
$footer-border-color: #ddd;

.footer {
  background-color: $footer-background;
  color: $footer-text-color;
  padding: $padding * 4;
  text-align: center;
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1);

  .footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .footer-column {
      width: $footer-column-width;

      h3 {
        font-size: $footer-heading-font-size;
        margin-bottom: $padding * 2;
        color: $footer-text-color;
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          margin-bottom: $padding;

          a {
            text-decoration: none;
            color: $footer-link-color;
            font-size: $footer-link-font-size;

            &:hover {
              color: $footer-link-hover-color;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .footer {
    text-align: left;

    .footer-container {
      display: block;

      .footer-column {
        width: 100%;
        margin-bottom: 2rem;
        border-bottom: 1px solid $footer-border-color;

        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
}
