<div class="all">
       <div class="sign-up-container">
         <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
           <h2>PERSONAL DETAILS</h2>
           <div class="name-container">
             <div>
               <label for="name" class="items-container">Name</label>
               <input id="name" class="items-container" type="text" formControlName="name"
                      (keydown)="onKeydown($event, surnameInput)">
             </div>
             <div>
               <label for="surname" class="items-container">Surname</label>
               <input id="surname" class="items-container" type="text" formControlName="surname" #surnameInput
                      (keydown)="onKeydown($event, dobInput)">
             </div>
           </div>
     
           <label for="dob" class="items-container">Date Of Birth</label>
           <input id="dob" class="items-container" type="text" placeholder="mm/dd/yyyy" formControlName="dob" #dobInput
                  (keydown)="onKeydown($event, emailInput)">
     
           <label for="email" class="items-container">Email</label>
           <input id="email" class="items-container" type="text" formControlName="email" #emailInput
                  (keydown)="onKeydown($event, passwordInput)">
     
           <label for="password" class="items-container">Password</label>
           <input id="password" class="items-container" type="password" formControlName="password" #passwordInput
                  (keydown)="onKeydown($event, paymentMethodInput)">
     
           <label for="paymentMethod" class="items-container">Payment Method</label>
           <input id="paymentMethod" class="items-container" type="text" formControlName="paymentMethod" #paymentMethodInput
                  (keydown)="onKeydown($event, countryInput)">
     
           <label for="country" class="items-container">Country</label>
           <input id="country" class="items-container" type="text" formControlName="country" #countryInput
                  (keydown)="onKeydown($event, telephoneInput)">
     
           <label for="telephone" class="items-container">Telephone</label>
           <input id="telephone" class="items-container" type="text" formControlName="telephone" #telephoneInput
                  (keydown)="onKeydown($event, regionInput)">
     
           <label for="region" class="items-container">Region</label>
           <input id="region" class="items-container" type="text" formControlName="region" #regionInput
                  (keydown)="onKeydown($event, cityInput)">
     
           <label for="city" class="items-container">City</label>
           <input id="city" class="items-container" type="text" formControlName="city" #cityInput
                  (keydown)="onKeydown($event, streetAndNumberInput)">
     
           <label for="streetAndNumber" class="items-container">Street And Number</label>
           <input id="streetAndNumber" class="items-container" type="text" formControlName="streetAndNumber" #streetAndNumberInput
                  (keydown)="onKeydown($event, stairwayAndFloorInput)">
     
           <label for="stairwayAndFloor" class="items-container">Stairway, Floor (Optional)</label>
           <input id="stairwayAndFloor" class="items-container" type="text" formControlName="stairwayAndFloor" #stairwayAndFloorInput
                  (keydown)="onLastKeydown($event)">
     
           <div class="btn-container">
             <button type="button" class="button-container btn1">Cancel</button>
             <button type="submit" class="button-container" #signUpButton>Save</button> <!--[disabled]="!signUpForm.valid"-->
           </div>
         </form>
       </div>
     </div>
     