$background-color: #F3EDE5;
$background-color-sub: #45414A;
$background-color-bold: #504a58;
$text-color: #1E1E1E; //black
$text-color-sub: #45414A; //grey
$font-family: 'Inter', sans-serif;
$font-size: 16px;
$border-radius: 8px;
$margin: 8px;
$padding: 4px;
$width: 400px;
$img-size: 190px;
$page-margin: 120px;


.all {
    display:flex;
    justify-content: center;
    margin-top: $page-margin;
}

h2{
    color: $background-color-sub;
    text-align: center;
    font-size:larger;
}

.sign-in-container {
    color: $text-color-sub;
    width: $width;
    height: auto;
    border: 1px solid $text-color-sub;
    border-radius: $border-radius;
    background-color: $background-color;
    margin: $margin;
    padding: $padding;
}

.button-container {
    font-size:larger;
    color: $background-color;
    background-color: $background-color-sub;
    border-radius: $border-radius;
    border-color: $background-color-sub;
    width: 93%;
    text-align: center;
    margin: $margin;
    padding: $padding;

    &:hover {
        background-color: $background-color-bold;
        cursor: pointer;
    }
}
.items-container {
    margin: $margin;
    padding: $padding;
    width: 90%;
}
.forgot-password {
    color: $text-color;
}