$text-color: hsl(267, 6%, 27%); // Grey
$background-color: #F5F5F5; // Beige
$background-color-bold: #504a58; // Darker Beige
$forgot-password-color: #1E1E1E; // Black
$padding: 8px;
$border-radius: 8px;
$margin: 8px;
$width: 400px;
$page-margin: 120px;
$font-size-large: 18px;
$font-size-medium: 16px;

.all {
    display: flex;
    justify-content: center;
    margin-top: $page-margin;
}

h2 {
    color: $text-color;
    text-align: center;
    font-size: $font-size-large;
    margin-bottom: $margin;
}

.sign-in-container {
    color: $text-color;
    width: $width;
    border: 1px solid $text-color;
    border-radius: $border-radius;
    background-color: $background-color;
    margin: $margin;
    padding: $padding * 2;
}

.button-container {
    font-size: $font-size-large;
    color: $background-color;
    background-color: $text-color;
    border-radius: $border-radius;
    border-color: $text-color;
    width: 100%;
    text-align: center;
    margin: $margin 0;
    padding: $padding;

    &:hover {
        background-color: $background-color-bold;
        cursor: pointer;
    }
}

.items-container {
    margin: $margin;
    padding: $padding;
    width: 90%;
}
.forgot-password {
    color: $forgot-password-color;
}
