$border-color: #007f6e;
$text-color: #1e1e1e;
$text-color-sub: #45414a;
$background-color: #00a693;
$button-bg-color: #ef98aa;
$margin-less: 0.5rem;
$padding: 10px;
$margin: 50px;
$height: 115px;
$nav-height: 60px;
$font-size-h2: 18px;
$font-weight-bold: bold;
$icon-gap: 15px;
$icon-margin-top: 5px;
$max-width-product-card: 300px;
$category-image-size: 50px;

.category-page {
  display: flex;
  margin-top: $nav-height;
  background-color: $background-color;
}

.category-section {
  h1 {
    color: $button-bg-color;
  }
}

.category-list {
  flex-shrink: 0;
  position: fixed;
  width: 20%;
  padding: $padding;
  border-right: 1px solid $border-color;
  height: 100%;
  overflow-y: auto;
}

.category-list ul {
  list-style: none;
  padding: 0;
}

.category-list li {
  height: $height;
  cursor: pointer;
  padding: $padding;
  border-top: 1px solid $border-color;
}

.category-list li:hover,
.category-list .selected-category {
  background-color: $background-color;
}

.product-listing-container {
  margin-top: $nav-height;
  width: 80%;
  margin-left: 20%;
  overflow-y: auto;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  gap: $padding;
  margin-inline-start: $margin;
}

.category-image {
  width: $category-image-size;
  height: $category-image-size;
  object-fit: cover;
  margin-bottom: $margin-less;
}

h1 {
  text-align: start;
  margin-left: 3%;
}
