  <nav id="desktop-nav">
    <div class="logo">
      <img src="assets/logo.png" alt="Logo" class="logo">
    </div>
    <div>
      <ul class="nav-links">
        <li *ngIf="searchVisible">
          <input placeholder="Search products..." [formControl]="searchInput" class="search-bar">
        </li>
        <li><a routerLink="/product-listing" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/category" routerLinkActive="active">Categories</a></li>
        <li><a routerLink="/favorites" routerLinkActive="active">Favorites</a></li>
        <!-- <li><a routerLink="/filter-and-sort" routerLinkActive="active">Filter and Sort</a></li> -->
        <li><a routerLink="/cart" routerLinkActive="active">Cart</a></li>
        <li><a routerLink="/profile" routerLinkActive="active">My Account</a></li>
        <!-- <li *ngxPermissionsOnly="'ADMIN'"><a routerLink="/admin" routerLinkActive="active-link">Admin</a></li> -->
      </ul>
    </div>
  </nav>