$primary-color: #45414A;
$secondary-color: #7C6BA7;
$background-color: #F3EDF7;
$link-hover-color: #7C6BA7;
$link-hover-offset: 1rem;
$nav-height: 17vh;
$logo-width: 300px;
$font-size: 1rem;
$gap: 2rem;
$padding: 4px;
$large-padding: 50px;
$border-radius: 5px;
$text-color-sub: #45414A; //grey
$margin-inline-end: 16px;


nav, .nav-links {
  display: flex;
  background-color: $background-color;
 
}

nav {
  justify-content: space-between;
  align-items: center;
  height: $nav-height;
  // position: fixed;
  // top: 0;
  // width: 100%;
  // z-index: 1000;

  .logo {
    font-size: $font-size;
    &:hover {
      cursor: default;
    }
  }
}

.nav-links {
  gap: $gap;
  font-size: $font-size;

  li {
    display: inline;
  }

  a {
    color: $primary-color;
    text-decoration: none;
    text-decoration-color: $secondary-color;

    &:hover {
      color: $secondary-color;
      text-decoration: underline;
      text-underline-offset: $link-hover-offset;
      text-decoration-color: $link-hover-color;
    }
  }

  #account {
    padding: 0 $padding 0 $large-padding;
  }
}

.logo {
  height: $nav-height;
  width: $logo-width;
}

.search-bar {
  border: none;
  margin-inline-end: $margin-inline-end;
  padding: 8px;
  box-shadow: 0 2px 4px $secondary-color;
  transition: box-shadow 0.3s ease;
}

.search-bar:focus {
  outline: none;
  box-shadow: 0 4px 8px $link-hover-color;
}