$primary-color: #45414A; //grey
$secondary-color: #7C6BA7; //purple
$background-color: #F3EDF7; //pink
$link-hover-offset: 16px;
$nav-height: 100px;
$logo-width: 300px;
$font-size: 16px;
$gap: 32px;
$padding: 4px;
$large-padding: 50px;
$border-radius: 8px;
$margin-inline-end: 16px;

#desktop-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
nav, .nav-links {
  display: flex;
  background-color: $background-color;
 
}

nav {
  justify-content: space-between;
  align-items: center;
  height: $nav-height;

  .logo {
    font-size: $font-size;
    &:hover {
      cursor: default;
    }
  }
}

.nav-links {
  gap: $gap;
  font-size: $font-size;

  li {
    display: inline;
  }

  a {
    color: $primary-color;
    text-decoration: none;
    text-decoration-color: $secondary-color;

    &:hover {
      color: $secondary-color;
      text-decoration: underline;
      text-underline-offset: $link-hover-offset;
      text-decoration-color: $secondary-color;
    }
  }

  #account {
    padding: 0 $padding 0 $large-padding;
  }
}

.logo {
  height: $nav-height;
  width: $logo-width;
}

.search-bar {
  border: none;
  margin-inline-end: $margin-inline-end;
  padding: 8px;
  box-shadow: 0 2px 4px $secondary-color;
  transition: box-shadow 0.3s ease;
}

.search-bar:focus {
  outline: none;
  box-shadow: 0 4px 8px $secondary-color;
}