$padding: 8px;
$title-color: #007f6e;

.product-similar {
  text-align: start;
  color: $title-color;
}

.product-listing-container {
  padding: $padding;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
}
