$font-family: 'Inter', sans-serif;
$icon-size: 50px;
$background-color: #F3EDF7; // pink
$border-color: #7C6BA7;
$text-color: #1E1E1E; // black
$text-color-sub: #45414A; // grey
$font-size: 16px;
$border-radius: 8px;
$margin: 32px;
$margin-top: 16px;
$margin-text: 8px;
$padding: 10px;
$width: 1000px;
$img-size: 190px;
$link-hover-color: #7C6BA7;

body {
  font-family: $font-family;
}

html {
  scroll-behavior: smooth;
}

.icons {
  height: 50px;
  width: 50px;
}

p {
  font-size: $font-size;
  color: $text-color-sub;
  text-align: start;
  margin: $margin-text;
}

.product-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; /* Center items vertically */
  width: $width;
  height: auto; /* Allow the height to adjust to content */
  box-shadow: 0 4px 8px $border-color;
  transition: box-shadow 0.3s ease-in-out;
  border-radius: $border-radius;
  margin: $margin;
  padding: $padding;
}

.product-card:hover {
  outline: none;
  box-shadow: 0 4px 8px $link-hover-color;
}

.product-container {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
}

.product-img {
  border-radius: $border-radius;
  width: $img-size;
  height: $img-size;
  object-fit: contain; /* Ensure the image fits within the given size without being cropped */
  margin: auto; /* Center the image horizontally */
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
  text-align: center; /* Center text */
  margin-left: $margin;
}

.product-card p {
  font-size: $font-size;
  color: $text-color-sub;
}

.product-card h2 {
  font-size: $font-size;
  color: $text-color;
}
.product-divider {
    width: 100%;
    border: 0;
    border-top: 1px solid $border-color; /* Customize the color and style */
  }