<app-product-detail-card [product]="product"></app-product-detail-card>

<h1 class="product-similar">You Might Also Like</h1>
<div class="product-listing-container">
  <div *ngIf="products$ | async as products; else loading">
    <div *ngIf="products.length; else noProducts" class="product-grid">
      <ng-container *ngFor="let product of products">
        <div *ngIf="product.category === currentCategory">
          <app-product-card [product]="product"></app-product-card>
        </div>
      </ng-container>
    </div>
    <ng-template #noProducts>
      <p>No products available for this category.</p>
    </ng-template>
  </div>
  <ng-template #loading>
    <p>Loading products...</p>
  </ng-template>
</div>
