<div id="background">
  @if(filteredProducts.length) {
    <div  class="product-container">
  @for(product of filteredProducts; track product) {
    <div class="product-card">
    <div class="product-top">
      <div class="product-img-container">
        <img [src]="product.image" alt="{{ product.title }}" class="product-img">
      </div>
      <div class="product-info">
        <p data-label="Item:"><span>{{ product.title }}</span></p>
        <p data-label="Price:"><span>${{ product.price }}</span></p>
        <p data-label="Color:"><span>{{ product.color }}</span></p>
        <p data-label="Size:"><span>{{ product.size }}</span></p>
        <p data-label="Category"><span>{{ product.category }}</span></p>
        <p data-label="Quantity:">
          <span>
            <button (click)="decrement()" class="dec-inc-btn">-</button>
            <span> {{quantity()}} </span>
            <button (click)="increment()" class="dec-inc-btn">+</button>
          </span>
        <p data-label="Rating:"><span>{{ product.rating }}</span></p>
      </div>
      <div class="actions-container"></div>
      <div class="product-actions">
        <button mat-icon-button (click)="toggleFavorite(product.id)">
          <mat-icon [ngClass]="{'mat-icon-heart': true, 'pressed': isFavorite(product.id)}" aria-label="Favorite icon">favorite</mat-icon>
        </button>
        <button mat-icon-button (click)="toggleCart(product.id)">
          <mat-icon [ngClass]="{'mat-icon-cart': true, 'pressed': isInCart(product.id)}" aria-label="Cart icon">shopping_cart</mat-icon>
        </button>
      </div>
    </div>
    <div class="product-description">
      <hr>
      <p data-label="Description:"><span>{{ product.description }}</span></p>
    </div>
  </div>
}
</div>
  }
</div>