$background-color: #F3EDF7; // pink
$border-color: #7C6BA7;
$icon-background: #7c6ba72d;
$text-color: #1E1E1E; // black
$text-color-sub: #45414A; // grey
$font-size: 16px;
$border-radius: 8px;
$margin: 32px;
$flex: 120px;
$margin-inline-start: 20px;
$margin-inline-end: 32px;
$margin-text: 8px;
$padding: 10px;
$width: 1000px;
$img-size: 190px;
$link-hover-color: #7C6BA7;
$gap: 5px;

p {
  margin: $margin-text;
}

.product-card {
  display: flex;
  flex-direction: column;
  width: $width;
  height: auto; 
  box-shadow: 0 1px 2px $border-color;
  transition: box-shadow 0.3s ease-in-out;
  border-radius: $border-radius;
  margin: $margin;
  padding: $padding;
  position: relative;
}

.product-card:hover {
  outline: none;
  box-shadow: 0 4px 8px $link-hover-color;
}

.product-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-img-container {
  flex-shrink: 0;
}

.product-img {
  border-radius: $border-radius;
  width: $img-size;
  height: $img-size;
  margin: auto;
  padding-top: auto;
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin-inline-start: $margin-inline-start;
  flex: 1;
}

.product-actions {
  display: flex;
  align-items: center;
  gap: $gap;
  margin-inline-end: $margin-inline-end;
  border-radius: 16px;
  background-color: $icon-background;
}

.product-info p {
  display: flex;
  align-items: center;
  margin: $margin-text 0;
  
  &::before {
    content: attr(data-label);
    flex: 0 0 $flex; 
    font-weight: bold; 
  }

  span {
    text-align: start;
  }
}

.product-description {
  margin-top: $padding;
  p {
    display: flex;
    align-items: center;

    &::before {
      content: attr(data-label);
      flex: 0 0 $flex; 
      font-weight: bold; 
    }

    span {
      text-align: start;
    }
  }
}
