
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the theme object.
$e-commerce-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($e-commerce-theme);
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($e-commerce-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($e-commerce-theme);
$font-family: 'Inter', sans-serif;
$icon-size: 50px;
$background-color: #F3EDF7; // pink
$border-color: #7C6BA7;
$text-color: #1E1E1E; // black
$text-color-sub: #45414A; // grey
$font-size: 16px;
$border-radius: 5px;
$margin: 15px;
$margin-top: 16px;
$padding: 10px;
$width: 250px;
$height: 350px;
$img-size: 190px;
$link-hover-color: #7C6BA7;

body {
  font-family: $font-family;
}

html {
  scroll-behavior: smooth;
}

.icons {
  height: 50px;
  width: 50px;
}

p {
  font-size: $font-size;
  color: $text-color-sub;
  text-align: center;
}

h2 {
  font-size: $font-size;
  color: $text-color;
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: $width;
  height: $height;
  box-shadow: 0 4px 8px $border-color;
  transition: box-shadow 0.3s ease-in-out;
  border-radius: $border-radius;
  margin: $margin;
  padding: $padding;
}

.product-card:hover {
  outline: none;
  box-shadow: 0 4px 8px $link-hover-color;
}

.product-container {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
}

.product-img {
  border-radius: $border-radius;
  width: $img-size;
  height: $img-size;
  display: block;
  margin-top: $margin-top;
  margin-left: auto;
  margin-right: auto;
}

.product-info {
  margin-top: auto;
  text-align: center;
}

.product-card p {
  font-size: $font-size;
  color: $text-color-sub;
}

.product-card h2 {
  font-size: $font-size;
  color: $text-color;
}

.product-container {
  background-color: $background-color;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
